.bene_delete-link {
  margin-top: -40px;
}

.bene_status-text {
  text-align: right;
  margin: -43px 0 11px 0;
}

.ds__table [class*="ant-table-thead"] {
  position: sticky;
  top: 80px;
  width: 100%;
  z-index: 1000;
}

.acc_no {
  display: flex;
  align-items: center;
  cursor: "pointer";
}
